<!DOCTYPE html>
<html ng-app="keepassApp">

<head>
    <meta charset="UTF-8">
    <title>keepassxPlus</title>

    <!-- Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- jquery -->
    <script src="./library/jquery.js" ></script>
    <!-- Insert this line after script imports -->
    <script>
        if (window.module) module = window.module;
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./library/bootstrap.css" >

    <!-- Optional theme -->
    <link rel="stylesheet" href="./library/bootstrap-theme.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="./library/bootstrap.js"></script>
    <script src="./library/pouchdb-6.1.2.min.js"></script>

    <!-- angularjs-->
    <script src="./library/angularjs.js"></script>
    <script src="./angularjs/keepassapp.js"></script>
    <script src="./angularjs/maincontroller.js"></script>


</head>

</head>

<body ng-controller="keepassController">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>keepass Information:</h1>
                <form ng-submit="submitkeepassForm()">
                    <label for="name">Site Name: </label><br />
                    <input type="text" id="name" ng-model="record.sname" /> <br />

                    <label for="url">Url</label><br />
                    <input type="text" id="url" ng-model="record.url" /> <br />

                    <label for="name">Username: </label><br />
                    <input type="text" id="name" ng-model="record.name" /> <br />

                    <label for="passwrod">Password</label><br />
                    <input type="text" id="password" ng-model="record.password" /> <br /><br />

                    <input type="submit" value="Submit" />
                    <input type="reset" ng-click="resetForm()" value="Reset" /> <br />

                </form>
                <p>{{myTxt}}</p>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover" >
                        <thead>
                            <tr>
                                <th>Site Name</th>
                                <th>URL</th>
                                <th>Username</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                         <tr ng-show = "isEmpty(data)" ng-repeat="record in data">

                             <td>{{ record.sname }}</td>
                             <td>{{ record.url }}</td>
                             <td>{{ record.name }}</td>
                             <td>{{ record.password }}</td>
                             <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                             <td><a class="btn" ng-click="removeItem(record)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

                         </tr>

                            <tr ng-repeat="(index, record) in data[0]" ng-init = '{{index}} = true'>

                                <td>{{ record.doc.sname }}</td>
                                <td>{{ record.doc.url }}</td>
                                <td>{{ record.doc.name }}</td>
                                <td>{{ record.doc.password }}</td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                                <td><a class="btn" ng-click="show_{{index}} = !show_{{index}}; removeItem(record)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <!-- All of the Node.js APIs are available in this renderer process. -->
                    We are using Node.js
                    <script>
                        document.write(process.versions.node)
                    </script>, Chromium
                    <script>
                        document.write(process.versions.chrome)
                    </script>, and Electron
                    <script>
                        document.write(process.versions.electron)
                    </script>.
                    <p id="pouch-info" style="word-break: break-word;">We are using pouchdb</p>
                    <script>
                        var movies = new PouchDB('Movies');
                        movies.info().then(function(info) {
                            $("#pouch-info").text($("#pouch-info").text() + JSON.stringify(info));
                        });
                    </script>
                </div>
            </div>

        </div>

        <!-- font awsesome -->
        <link rel="stylesheet" href="./library/font-awesome-4.7.0/css/font-awesome.min.css">
</body>

<script>




    // You can also require other files to run in this process
    require('./renderer.js')
</script>

</html>
